# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives__
* List popular languages for Data Science
* List popular libraries for Data Science
* List of well known Data Science Tools
* How to provide comments in the cell

Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 

1. TensorFlow
2. SciPy
3. PyTorch

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Carlo Trinh Ramos